In [45]:
key values pairs keys are unique and immuteable
d ={
    "Ali":345543,
    "Solangi":38409336409,
    "karachi":89504509,
    "sindh":82387642,
    "pakistan":444885
}

d["Cherry"]=10

print(d, ' ')
type(d)

{'Ali': 345543, 'Solangi': 38409336409, 'karachi': 89504509, 'sindh': 82387642, 'pakistan': 444885, 'Cherry': 10}

dict

In [42]:
student_score = {   'Ritika': 5,
                    'Sam': 7, 
                    'John': 10, 
                    'Aadi': 8}
# Iterate over key/value pairs in dict and print them
for key,  value in student_score.items():
    print(key,' : ',value)

Ritika  :  5
Sam  :  7
John  :  10
Aadi  :  8

In [44]:
# A dictionary of student names and their score
student_score = {   'Ritika': 5,
                    'Sam': 7, 
                    'John': 10, 
                    'Aadi': 8}
# Iterate over the keys in dictionary, access value & print line by line
for key in student_score:
    print(key, ' : ', student_score[key])

Ritika  :  5
Sam  :  7
John  :  10
Aadi  :  8

In [48]:
d ={
    "Ali":345543,
    "Solangi":38409336409,
    "karachi":89504509,
    "sindh":82387642,
    "pakistan":444885
    
}


print(d)
print(len(d))
type(d)

{'Ali': 345543, 'Solangi': 38409336409, 'karachi': 89504509, 'sindh': 82387642, 'pakistan': 444885}
5

dict