In [ ]:
def add(a,b):
    print("sum",a+b)
add(23,4)

In [ ]:
def greet(a):
    a=input("enter a name")
    print("hello"+a+"!")
greet(" ")

In [ ]:
def name(fname,lname):
    print(sum1)
    return fname+lname
sum1=name(" Ali ","Solangi")

In [ ]:
# this is not good because we will have write code again and again

Ali_exp_list =[2100,45000,6000]
Ahmed_exp_list =[2200,15000,8000]

total = 0

for item in Ali_exp_list:
    total=total+item
print("Ali total expenses:",total)
    
# total = 0

for item in Ahmed_exp_list:
    total=total+item
print("Ahmed total expenses:",total)

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

In [ ]:
def my_function(fname,lname):
  print(fname +" Refsnes"," " ,lname +" Robin")

my_function("Emil","Mobile")
my_function("Tobias","Iphone")
my_function("Linus","Samsung")

In [ ]:
def calculate_total(Exp):
    total=0
    for i in Exp:
        total=total+i
    return total
    
    Ali_exp_list =[2100,45000,6000]
    Ahmed_exp_list =[2200,15000,8000]

Ali_total=calculate_total(Ali_exp_list)
Ahmed_total=calculate_total(Ahmed_exp_list)

print("Ali's Total:",Ali_total)
print("Ahmed's Total:",Ahmed_total)

In [ ]:
# def sum(a,b):
#     total=a+b
#     return total

# n=input("enter a no")

# o=input("enter b no")
# sum()
# print("Total",n)

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

In [ ]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]
alone =[232,238,66666,]
my_function(fruits)
my_function(alone)

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["fname"])

my_function(fname = "Tobias", lname = "Refsnes")

In [ ]:
def greeting(name):
    print("hello"+name + "!")
    greeting("Ali")

In [36]:

def good(name):
        a=input("enter a no")
        b=int(a) 
       
        print("Hello",b)
        print(type(b)) 
good(" ")

enter a no6
Hello 6
<class 'int'>